@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


/*######################## GENERAL ########################*/
body{
	padding:0px;
	margin:0px;
	width: 100vw;
	height: 100%;
	justify-content: flex-start;
}

.flexColumnCenter{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexRowCenter{
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*######################## HEADER ########################*/

header{
	margin:0px;
	padding: 0px;
	width: 1440px;
	height: 650px;
	background: url("../images/desktop/image-hero.jpg") center/1440px no-repeat;
}

menu{
	width: 1120px;
	height: 32px;
	justify-content: space-between;
	padding:0px;
	margin:70px auto auto auto;
}

#menu-logo{
	width: 192px;
	height: inherit;
	background: url("../images/logo.svg") center/192px no-repeat;
}

#menu-links{
	height: inherit;
}

#menu-links > div{
	margin: auto auto auto 30px;
	color: white;
}

#menu-links p{
	font: 400 15px/1 'Alata';
}

#header-text{
	width: 1120px;
	height: 279px;
	margin:125px auto auto auto;
	overflow: hidden;
}

#header-text div{
	width: 650px;
	height: 275px;
	border: solid 2px white;
	float:left;
	display: flex;
	align-items: center;
}

#header-text p{
	margin: auto;
	text-align: left;
	color: white;
	font: 300 70px/1 'Josefin Sans';
	margin-left: 50px;
}

/*######################## LEADER ########################*/

#leader{
	position: relative;
	width: 1120px;
	height: 500px;
	margin:160px auto auto auto;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#leader-pic{
	height: inherit;
	width: 730px;
	background: url("../images/desktop/image-interactive.jpg") center/730px no-repeat;
}

#leader-text{
	display: flex;
	justify-content: flex-end;
	position: absolute;
	z-index: 100;
	background-color: white;
	width: 540px;
	height: 325px;
	left: 570px;
}

#leader-text p{
	margin-left: 90px;
	text-align: left;
}

.leader-title{
	font: 300 50px/1 'Josefin Sans';
	color:black;
	margin-bottom: 20px;
}

.leader-main-text{
	font: 400 15px/1.6 'Alata';
	color: hsl(0, 0%, 55%);
	margin-bottom: 0px;
}

/*######################## CREATIONS ########################*/

#creations{
	display: grid;
	grid-gap: 30px;
	grid-template-rows: 95px 450px 450px;
	grid-template-columns: 256px 256px 256px 256px;
	grid-template-areas:
		"title title title button"
		"earth arcade soccer thegrid"
		"above pocket curiosity fisheye";
	margin-top: 190px;
}

#creations-title{
	grid-area: title;
	font: 300 50px/1 'Josefin Sans';
	color:black;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

#creations-title p{
	margin: 0px;
}

#creations-bt{
	grid-area: button;
	display:flex;
	align-items: flex-start;
	justify-content: flex-end;
}

#see-all-bt{
	width: 155px;
	height: 40px;
	font: 400 16px/40px 'Alata';
	color:black;
	display: table-cell;
	text-align: center;
	border: solid 1px black;
}
#creations-earth{
	grid-area: earth;
	background: url("../images/desktop/image-deep-earth.jpg") center/256px no-repeat;
}
#creations-arcade{
	grid-area: arcade;
	background: url("../images/desktop/image-night-arcade.jpg") center/256px no-repeat;
}
#creations-soccer{
	grid-area: soccer;
	background: url("../images/desktop/image-soccer-team.jpg") center/256px no-repeat;
}

#creations-thegrid{
	grid-area: thegrid;
	background: url("../images/desktop/image-grid.jpg") center/256px no-repeat;
}

#creations-above{
	grid-area: above;
	background: url("../images/desktop/image-from-above.jpg") center/256px no-repeat;
}
#creations-pocket{
	grid-area: pocket;
	background: url("../images/desktop/image-pocket-borealis.jpg") center/256px no-repeat;
}
#creations-curiosity{
	grid-area: curiosity;
	background: url("../images/desktop/image-curiosity.jpg") center/256px no-repeat;
}
#creations-fisheye{
	grid-area: fisheye;
	background: url("../images/desktop/image-fisheye.jpg") center/256px no-repeat;
}

.creation-cont{
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.creation-text{
	font: 300 30px/1 'Josefin Sans';
	color:white;
	margin: auto auto 40px 40px;
}

/*######################## FOOTER ########################*/

footer{
	width: 1120px;
	height: 159px;
	background-color: black;
	margin-top: 180px;
	display:flex;
	align-items: center;
	justify-content: center;
}

#footer-container{
	width: 800px;
	height: 85px;
	display: grid;
	grid-template-columns: 385px 275px;
	grid-template-rows: 40px 40px;
	grid-column-gap: 140px;
	grid-template-areas: "logo media""links copyRight";
}

#footer-container > div{
	border: solid 1px white;
}

#footer-logo{
	grid-area: logo;
}

#footer-links{
	grid-area: links;
}

#footer-media{
	grid-area: media;
}

#footer-copyRight{
	grid-area: copyRight;
}

