@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*######################## GENERAL ########################*/
*{
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	width: 100vw;
	height: 100%;
	justify-content: flex-start;
}

p{
	padding: 0px;
	margin: 0px;
}

.flexColumnCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flexRowCenter {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.upLeft {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: inherit;
}
.link:hover {
	cursor: pointer;
	border-bottom: solid 2px white;
}

.menu-logo {
	width: 192px;
	height: inherit;
	background: url("../images/logo.svg") center/192px no-repeat;
}
/*######################## HEADER ########################*/
header {
	margin: 0px;
	padding: 0px;
	width: 1440px;
	height: 650px;
	padding: 64px 165px 0px;
	display: flex;
	flex-direction: column;

	background: url("../images/desktop/image-hero.jpg") center/1440px no-repeat;
}
menu {
	width: 1110px;
	height: 32px;
	justify-content: space-between;
	padding: 0px 30px 0px 0px;
	margin: 0px;
}

#menu-links {
	width: 380px;
	height: inherit;
	justify-content: space-between;
}
#menu-links > div {
	margin: auto 30px auto 30px;
	color: white;
}
#menu-links p {
	font: 400 15px/32px 'Alata';
	margin: 0px;
}
#menu-hamburger {
	display: none;
	width: 24px;
	height: 16px;
	background: url("../images/icon-hamburger.svg") center/24px no-repeat;
}
#menu-hamburger:hover{
	cursor:pointer;
	opacity:0.5;
}
#header-text {
	width: 650px;
	height: 278px;
	margin-top: 130px;
	border: solid 2px white;
	justify-content: center;
}

#header-text h1 {
	width: 570px;
	height: 198px;
	text-align: left;
	color: white;
	margin: 0px;
	padding: 0px;
	font: 300 72px/70px 'Josefin Sans';
}
/*######################## MENU MOBILE ########################*/
#menu-mobile{
	display:none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: black;
	top: 0px;
}

#menu-mobile > div{
	margin-left: auto;
	margin-right: auto;
}
#mobile-top{
	width: 430px;
	height: 32px;
	margin-top: 70px;
	justify-content: space-between;
}

#close-icon{
	width: 20px;
	height: inherit;
	background: url("../images/icon-close.svg")center/20px no-repeat;
}

#close-icon:hover{
	cursor:pointer;
	opacity: 0.5;
}

#mobile-menu{
	width: 420px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 150px;
}

.mobile-link{
	font: 300 30px/1 'Josefin Sans';
	color: white;
	margin-bottom: 0px;
	max-width: 160px;
}

.mobile-link:hover{
	cursor:pointer;
	opacity: 0.5;
}

/*######################## LEADER ########################*/

#leader {
	position: relative;
	width: 1111px;
	height: 500px;
	margin: 160px auto auto auto;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
#leader-pic {
	height: inherit;
	width: 730px;
	background: url("../images/desktop/image-interactive.jpg") center/730px no-repeat;
}
#leader-text {
	width: 541px;
	height: 317px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	position: absolute;
	z-index: 100;
	background-color: white;
	left: 570px;
}
#leader-text p {
	width: 445px;
	text-align: left;

}
.leader-title {
	height: 96px;
	font: 300 48px/48px 'Josefin Sans';
	color: black;
	margin-bottom: 25px;
}
.leader-main-text {
	height: 100px;
	font: 400 15px/25px 'Alata';
	color: hsl(0, 0%, 55%);
	margin: 0px;
}
/*######################## CREATIONS ########################*/

#creations-title {
	width: 1114px;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 184px;
}

#creations-title p{
	width: 445px;
	height: inherit;
	font: 300 48px/48px 'Josefin Sans';
	color: black;
}

#creations-bt {
	grid-area: button;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

#see-all-bt {
	width: 155px;
	height: 40px;
	font: 400 14px/40px 'Alata';
	letter-spacing: 5px;
	color: black;
	display: table-cell;
	text-align: center;
	border: solid 1px black;
}
#see-all-bt:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}
#creations {
	display: grid;
	grid-gap: 30px;
	grid-template-rows: 450px 450px;
	grid-template-columns: 256px 256px 256px 256px;
	grid-template-areas:
		"earth arcade soccer thegrid"
		"above pocket curiosity fisheye";
	margin-top: 80px;
}

#creations-earth {
	grid-area: earth;
	background: url("../images/desktop/image-deep-earth.jpg") center/256px no-repeat;
}
#creations-arcade {
	grid-area: arcade;
	background: url("../images/desktop/image-night-arcade.jpg") center/256px no-repeat;
}
#creations-soccer {
	grid-area: soccer;
	background: url("../images/desktop/image-soccer-team.jpg") center/256px no-repeat;
}
#creations-thegrid {
	grid-area: thegrid;
	background: url("../images/desktop/image-grid.jpg") center/256px no-repeat;
}
#creations-above {
	grid-area: above;
	background: url("../images/desktop/image-from-above.jpg") center/256px no-repeat;
}
#creations-pocket {
	grid-area: pocket;
	background: url("../images/desktop/image-pocket-borealis.jpg") center/256px no-repeat;
}
#creations-curiosity {
	grid-area: curiosity;
	background: url("../images/desktop/image-curiosity.jpg") center/256px no-repeat;
}
#creations-fisheye {
	grid-area: fisheye;
	background: url("../images/desktop/image-fisheye.jpg") center/256px no-repeat;
}
.creation-cont {
	width: 256px;
	height: 450px;
}
.creation-rollover {
	width: inherit;
	height: inherit;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	color: white; 
}
.creation-rollover:hover {
	cursor: pointer;
	background: hsla(0, 0%, 100%, 0.75);
	color: black;
}
.creation-text {
	height: 64px;
	font: 300 32px/32px 'Josefin Sans';
	margin: auto auto 32px 40px;
}
/*######################## FOOTER ########################*/
footer {
	width: 1440px;
	height: 160px;
	background-color: black;
	margin-top: 184px;
	display: flex;
	justify-content: center;
}
#footer-container {
	width: 1110px;
	height: 83px;
	margin-top: 44px;
	display: grid;
	grid-template-columns: 380px 272px;
	grid-template-rows: 34px 35px;
	grid-column-gap: 458px;
	grid-row-gap: 14px;
	grid-template-areas: "logo media""links copyRight";
}
#footer-logo {
	grid-area: logo;
	border: solid 1px red;
}
#footer-links {
	border: solid 1px red;
	grid-area: links;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
#footer-links div {
	margin: auto 25px auto 0px;
	text-align: center;
	border: solid 1px blue;
}
#footer-links p {
	height: 25px;
	color: white;
	font: 400 15px/25px 'Alata';
	border: solid 1px red;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#footer-media {
	grid-area: media;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
}
#facebook {
	background: url("../images/icon-facebook.svg") top/24px no-repeat;
}
#twitter {
	background: url("../images/icon-twitter.svg") top/24px no-repeat;
}
#pinterest {
	background: url("../images/icon-pinterest.svg") top/24px no-repeat;
}
#instagram {
	background: url("../images/icon-instagram.svg") top/24px no-repeat;
}
#footer-copyRight {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	grid-area: copyRight;
	color: hsl(0, 0%, 55%);
	font: 400 15px/25px 'Alata';
	text-align: right;
}
.media {
	width: 24px;
	height: inherit;
	margin-left: 16px;
}

/* ########################################################## */
/* ##################### MOBILE VERSION ##################### */
/* ########################################################## */


@media screen and (max-width:480px) {
	
	body {
		height: 100%;
	}

	h1{
		font: 300 50px/1 'Josefin Sans';
	}
	
	/*######################## HEADER ########################*/
	header {
		width: 480px;
		height: 830px;
		background: url("../images/mobile/image-hero.jpg") center/480px no-repeat;
	}
	menu {
		width: 430px;
	}
	#menu-links {
		display: none;
	}
	#menu-hamburger{
		display: block;
	}
	#header-text {
		width: 430px;
		height: 279px;
		margin: 200px auto auto auto;
	}
	#header-text div {
		width: 426px;
		height: 275px;
	}
	#header-text h1 {
		width: 330px;
	}
	/*######################## LEADER ########################*/
	#leader {
		width: 410px;
		height: 600px;
		margin: 120px auto 50px auto;
		flex-direction: column;
	}
	#leader-pic {
		width: 410px;
		height: 385px;
		background: url("../images/mobile/image-interactive.jpg") center/410px no-repeat;
	}
	#leader-text {
		position: relative;
		z-index: 0;
		width: 410px;
		height: 370px;
		left: auto;
		margin-top: 0px;
	}
	#leader-text p {
		margin-left: 0px;
		text-align: center;
		margin: 30px auto 0px auto;
	}
	.leader-title {
		font: 300 35px/1 'Josefin Sans';
	}
	.leader-main-text {
		font: 400 18px/1.6 'Alata';
	}
	/*######################## CREATIONS ########################*/
	#creations {
		grid-row-gap: 20px;
		grid-column-gap: 0px;
		grid-template-rows: 125px 155px 155px 155px 155px 155px 155px 155px 155px 100px;
		grid-template-columns: 420px;
		grid-template-areas:
			"title""earth""arcade""soccer""thegrid""above""pocket""curiosity""fisheye""button";
		margin-top: 80px;
	}
	#creations-title {
		font: 300 50px/1 'Josefin Sans';
	}
	#creations-bt {
		align-items: center;
		justify-content: center;
	}
	#see-all-bt {
		width: 200px;
		height: 50px;
		font: 400 18px/50px 'Alata';
	}
	#see-all-bt:hover {
		cursor: pointer;
		background-color: black;
		color: white;
	}
	#creations-earth {
		background: url("../images/mobile/image-deep-earth.jpg") center/420px no-repeat;
	}
	#creations-arcade {
		background: url("../images/mobile/image-night-arcade.jpg") center/420px no-repeat;
	}
	#creations-soccer {
		background: url("../images/mobile/image-soccer-team.jpg") center/420px no-repeat;
	}
	#creations-thegrid {
		background: url("../images/mobile/image-grid.jpg") center/420px no-repeat;
	}
	#creations-above {
		grid-area: above;
		background: url("../images/mobile/image-from-above.jpg") center/420px no-repeat;
	}
	#creations-pocket {
		background: url("../images/mobile/image-pocket-borealis.jpg") center/420px no-repeat;
	}
	#creations-curiosity {
		background: url("../images/mobile/image-curiosity.jpg") center/420px no-repeat;
	}
	#creations-fisheye {
		background: url("../images/mobile/image-fisheye.jpg") center/420px no-repeat;
	}
	.creation-cont {
		width: 420px;
		height: 155px;
	}
	.creation-text {
		margin: auto auto 30px 30px;
	}
	
/*######################## FOOTER ########################*/
footer {
	width: 480px;
	height: 580px;
	margin-top: 110px;
}
#footer-container {
	width: 350px;
	height: 465px;
	grid-row-gap: 0px;
	grid-template-columns: 350px;
	grid-template-rows: 30px 340px 40px 50px;
	grid-column-gap: 0px;
	grid-template-areas: "logo""links""media""copyRight";
}
#footer-logo {
	text-align: center;
}
#footer-links {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#footer-links div {
	height: 36px;
	margin: 0px auto 15px auto;
}
#footer-links p {
	font: 400 17px/36px 'Alata';
}
#footer-links div:hover {
	border-bottom: none;
	opacity: 0.3;
}
#footer-media {
	justify-content: center;
}
#facebook {
	background: url("../images/icon-facebook.svg") top/24px no-repeat;
}
#twitter {
	background: url("../images/icon-twitter.svg") top/24px no-repeat;
}
#pinterest {
	background: url("../images/icon-pinterest.svg") top/24px no-repeat;
}
#instagram {
	background: url("../images/icon-instagram.svg") top/24px no-repeat;
}
#footer-copyRight {
	align-items: center;
	justify-content: center;
}
	
}